---
layout: default
---

<!-- NAVIGATION -->
<section class="primary-nav">
  <div class="grid primary-nav-content">
    <div class="col-9 logo">
      <a href="index.html"><img src="images/logo.png"></a>
    </div>
    <div class="grid-spaceBetween col-3 primary-nav-links">
      <a href="index.html">Portfolio</a>

      <a href="#about">About & Contact</a>

    </div>

    <div class="hamburger-menu desktop-hidden small-show">
      <a href="?expand-menu?"><img src="images/icon_hamburger.png"></a>
    </div>
  </div>

</section>

{{content}}
