<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <!-- THIRD PARTY CSS -->
      <link href="https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto:300,400,700" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="styles/normalize.min.css" />
      <link rel="stylesheet" type="text/css" href="styles/gridlex.min.css" />

      <!-- MY CSS -->
      <link rel="stylesheet" type="text/css" href="styles/main.css">

  </head>
  <body>
<!-- NAVIGATION -->
<section class="primary-nav"


<!-- CONTENT -->

{{content}}
<!-- FOOTER -->

    <footer>

    </footer>

  </body>
</html>
