<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- THIRD PARTY CSS -->
    <link href="https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/gridlex.min.css" />

    <!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="styles/main.css">

  </head>
  <body>




    <!-- CONTENT -->

    {{content}}
    <!-- FOOTER -->

    <footer id="about" class="grid colour-dark-grey text-white">
      <div class="col-6">about</div>
      <div class="col-6">contact</div>

    </footer>

  </body>
</html>
