*{
  border: 1px solid #999;
  box-sizing: border-box;

}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #131313;

}

[class~="grid"] [class*="col-"],[class*="grid-"][class*="col-"]{
  padding: 2%;

}

section{
  padding-left: 5%;
  padding-right: 5%;

}

/* HEADINGS AND STYLING */

h1{
  font-size: 5em;
  margin-bottom: 0;

}

h1.feature{
  font-size: 6em;
  margin-bottom: 0;

}

h2{
  font-size: 3rem;

}

h3{
  font-size: 2rem;

}

h4{
  font-size: 1.25rem;

}


p{


}

a{

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #0F7173;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid;

}

a:hover{
  color: #D81159;

}

/* BACKGROUND COLOURS */

.colour-main-dark{
  background-color: #283D3B;

}

.colour-main-brand{
  background-color: #0F7173;

}

.colour-main-light{
  background-color: #BDF2F2;


}

.colour-accent{
  background-color: #D81159;

}

.colour-accent-light{
  background-color: #EDDDD4;

}

.colour-light-grey{
  background-color: #E9E9E9;

}

.colour-mid-grey{
  background-color: #A4A4A4;

}

.colour-dark-grey{
  background-color: #4A4A4A;

}

/* TEXT COLOURS */

.text-main-dark{
  color: #283D3B;

}

.text-main-brand{
  color: #0F7173;

}

.text-main-light{
  color: #BDF2F2;

}

.text-accent{
  color: #D81159;

}

.text-accent-light{
  color: #EDDDD4;

}

.text-white{
  color: #FFF;

}

.text-light-grey{
  color: #E9E9E9;

}

.text-mid-grey{
  color: #A4A4A4;

}

.text-dark-grey{
  color: #4A4A4A;

}


/* FONT HELPERS */

.roboto-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.roboto-regular{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

.roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.exo-medium{
  font-family: 'Exo', sans-serif;
  font-weight: 500;

}

.exo-semibold{
  font-family: 'Exo', sans-serif;
  font-weight: 600;

}

.exo-bold{
  font-family: 'Exo', sans-serif;
  font-weight: 700;

}



/* NAV */

.primary-nav{
  /* background-color: #EDDDD4; */

}

.primary-nav-content{
  min-height: 50px;

}

.logo{
  /* background-image: url("../images/logo.png"); */
  /*background-size: auto;
  background-position: 50% 35%;
  min-height: 50vh; */

}

.primary-nav-links{



}

.primary-nav a{
    color: #131313;

}

/* .primary-nav a:hover{
    color: #131313;

} */

.sub-nav-filters{



}

.hamburger-menu{


}

footer{
  min-height: 100vh;



}


/* BANNERS */

/* Homepage banner */

.home-page-hero{
  height: 250px;

}

.banner{
  height: 350px;

}

.banner-reverse{

  flex-direction: row-reverse;


}

/* - - - - - SPACING HELPERS - - - - -  */

.padding-left{
  padding-left: 5%;

}

.padding-right{
  padding-right: 5%;

}

.padding-left-right{
  padding-left: 5%;
  padding-right: 5%;

}

.margin-y-none{
  margin-top:0;
  margin-bottom: 0;

}

.margin-x-none{
  margin-left:0;
  margin-right: 0;

}

.margin-top-none{
  margin-top: 0;
}

.margin-bottom-none{
  margin-bottom: 0;
}

/* HIDE/ SHOW HELPERS */

.desktop-hidden {
  display: none;

}

/* Media Queries should always be at the bottom of your css file */
@media (max-width: 579px){
  .small-hidden {
    display: none;

  }
  .small-show{
    display: block;

  }
}
