/* max about 3 different styles for hr element */
/* class - selector {property: value;}*/

*{
  /* border: 1px solid #999; */
  box-sizing: border-box;

}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #131313;
  margin-top: 50px;

}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;

}

[class~="grid"] [class*="col-"],[class*="grid-"][class*="col-"]{
  padding: 3.5%;

}

li{
  list-style-position: inside;
  padding-top: .5rem;

}

section, footer{
  padding: 3% 5%;
  margin-top: 2%;

}

section{
  min-height: 350px;

}

/* HEADINGS AND STYLING */

/*13px = 0.8125rem micropcopy
16px = 1rem (base) body, buttons, H4, links
20px = 1.25rem MOB H3
24px = 1.5rem DT H3
28px = 1.75rem MOB H2
32px = 2rem DT H2
34px = 2.125rem MOB H1
38px = 2.375rem MOB H1 F
42px = 2.625rem DT H1
50px = 3.125rem DT H1 F*/

h1{
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 2.625rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;

}

h1.feature{
  font-size: 3.125rem;
  font-weight: 600;
  color: #283D3B;

}

h2{
  font-size: 2rem;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom:2%;
  text-align: center;
  line-height: 1;

}

h3{
  font-size: 1.5rem;
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2%;
  line-height: 1;

}

h4{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2%;
  line-height: 1;

}


p{
  margin-top: 0;
  margin-bottom: 4%;
  line-height: 1.4;

}

p.feature{
  font-weight: 400;

}

p.project-description{
  line-height: 1.5;

}

a{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #0F7173;
  text-decoration: none;
  transition: .75s;

}

a:hover{
  color: #D81159;

}

hr{
  border: none;
  border-bottom: 3px solid #D81159;
  width: 50px;
  margin-bottom: 2rem;
  margin-left: 0;

}

hr.content-divider{
  border: none;
  border-bottom: 2px solid #0F7173;
  width: 25vw;
  margin: auto;

}

ul{
  margin-top: 1%;
  margin-bottom: 2%;

}

/* - - - - - SPACING HELPERS - - - - -  */

.padding-left{
  padding-left: 5%;

}

.padding-right{
  padding-right: 5%;

}

.padding-x-5pc{
  padding-left: 5%;
  padding-right: 5%;

}

.padding-x-2pc{
  padding-left: 2%;
  padding-right: 2%;

}

.padding-y-2pc{
  padding-top: 2%;
  padding-bottom: 2%;

}

.padding-x-none{
  padding-left: 0;
  padding-right: 0;

}

.padding-y-none{
  padding-top:0;
  padding-bottom: 0;

}

.margin-y-none{
  margin-top:0;
  margin-bottom: 0;

}

.margin-x-none{
  margin-left:0;
  margin-right: 0;

}

.margin-top-none{
  margin-top: 0;
}

.margin-top-5pc{
  margin-top: 5%;

}

.margin-bottom-none{
  margin-bottom: 0;
}

.margin-bottom-5pc{
  margin-bottom: 5%;

}

.margin-x-2pc{
  margin-left: 2%;
  margin-right: 2%;

}

.min-height-none{
  min-height: 0;

}

/* HIDE/ SHOW HELPERS */

.desktop-hidden {
  display: none;

}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;

}

.flex-stack{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* BACKGROUND COLOURS */

.colour-main-dark{
  background-color: #283D3B;

}

.colour-main-brand{
  background-color: #0F7173;

}

.colour-main-light{
  background-color: #BDF2F2;


}

.colour-accent{
  background-color: #D81159;

}

.colour-accent-light{
  background-color: #EDDDD4;

}

.colour-light-grey{
  background-color: #E9E9E9;

}

.colour-mid-grey{
  background-color: #A4A4A4;

}

.colour-dark-grey{
  background-color: #4A4A4A;

}

/* TEXT COLOURS */

.text-main-dark{
  color: #283D3B;

}

.text-main-brand{
  color: #0F7173;

}

.text-main-light{
  color: #BDF2F2;

}

.text-accent{
  color: #D81159;

}

.text-accent-light{
  color: #EDDDD4;

}

.text-white{
  color: #FFF;

}

.text-light-grey{
  color: #E9E9E9;

}

.text-mid-grey{
  color: #A4A4A4;

}

.text-dark-grey{
  color: #4A4A4A;

}


/* FONT HELPERS */

.font-light{
    font-weight: 300;

}

.font-regular{
  font-weight: 400;

}

.font-medium{
  font-weight: 500;

}

.font-semibold{
  font-weight: 600;

}

.font-bold{
  font-weight: 700;

}

/* TEXT HELPERS */

.center-text{
  text-align: center;

}

/* NAV */



.primary-nav [class*="col"] {
  /* padding-top: 1%;
  padding-bottom: 1%; */

}

.primary-nav-content{
  min-height: 50px;

}

.logo{
  background-image: url("/icons/logo.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50% ;

}

.primary-nav-links a{
    color: #131313;

}

.primary-nav-links a:hover{
    color: #D81159;

}

.burger-button{
  width: 42px;
  position: absolute;
  right: 5%;
  top: 8%;
  padding: 7px;

}

/* - - - - Footer - - - -- */

footer{


}

footer a{
  color: white;

}

footer img{
  width: 100%;

}


/* BANNERS */

/* Homepage banner */

.home-page-hero{
  min-height: 250px;

}

.banner{
  background-position: center;
  background-size: cover;
  min-height: 250px;

}

/* PANELS */

[class*="panel-text"] p{
  margin: 0;
  padding: 0;

}

[class*="banner"]{
  margin: 0;

}

/* - - - - Case stdy banners - - - -*/

.project-lead-img{
  background-image: url(https://picsum.photos/800/500/?random);

}
/* BACKGROUND IMAGES */

[class*="_bg"]{
  background-position: center;
  background-size: cover;
  min-height: 50vh;

}

.detail-image-1_bg{
  background-image: url(https://picsum.photos/800/600/?random);

}

.detail-image-2_bg{
  background-image: url(https://picsum.photos/800/700/?random);

}

.detail-image-3_bg{
  background-image: url(https://picsum.photos/800/800/?random);

}

/* GENERAL IMAGE STUFF */

.round-image{
  background-image: url("/images/about.jpg");
  background-size: cover;
  margin: auto;
  border-radius: 100%;
  width: 20vh;
  height: 20vh !important;

}

/* Media Queries should always be at the bottom of your css file */

/*13px = 0.8125rem micropcopy
16px = 1rem (base) body, buttons, H4, links
20px = 1.25rem MOB H3
24px = 1.5rem DT H3
28px = 1.75rem MOB H2
32px = 2rem DT H2
34px = 2.125rem MOB H1
38px = 2.375rem MOB H1 F
42px = 2.625rem DT H1
50px = 3.125rem DT H1 F*/

@media (max-width: 576px){
  .small-hidden {
    display: none;

  }

  .small-show{
    display: block;

  }

  .small-center{
    margin: auto;

  }

  .sticky-nav{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: 1px solid #e9e9e9;
    background-color: white;


  }

  .navigation-priority{
    position: relative;
    z-index: 9;

  }

  .open-nav-menu {
    width: 100%;
    background-color: white;
    padding: 3.5%;
    position: fixed;
    top: -100%;
    transition: 2s;

  }

  .menu-visible .open-nav-menu{
    top: 50px;

  }

  .menu-hidden .open-nav-menu {



  }

  h1 {
    font-size: 2.125rem;
  }

  h1.feature {
    font-size: 2.375rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.75rem;
  }

  h3 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  hr{
    margin-top: 1rem;
    margin-bottom: 1rem;

  }

  hr.content-divider{
    margin-top: 3rem;
    margin-bottom: 2rem;

  }

  .primary-nav{
    background-color: white;

  }

  .xs-remove-x-padding{
    padding-left: 0;
    padding-right: 0;

  }
  .xs-remove-x-padding .xs-add-x-padding-5pc, .xs-add-x-padding-5pc{
    padding-left: 5%;
    padding-right: 5%;

  }

  .xs-add-margin-bottom-5pc {
    margin-bottom: 5%;

  }

  .xs-add-margin-top-5pc {
    margin-top: 5%;

  }


  section {
    min-height: 0;

  }
}

@media (min-width: 577px){
  .md-left-align-text{
    text-align: left;

  }

  .banner-reverse{
    flex-direction: row-reverse;

  }

  .bigger-than-small-hide {
    display: none;

  }

}
