/* max about 3 different styles for hr element */

*{
  border: 1px solid #999;
  box-sizing: border-box;

}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #131313;

}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}

[class~="grid"] [class*="col-"],[class*="grid-"][class*="col-"]{
  padding: 2%;

}

section, footer{
  padding: 3% 5%;

}

section{
  min-height: 350px;

}

/* HEADINGS AND STYLING */

/*13px = 0.8125rem micropcopy
16px = 1rem (base) body, buttons, H4, links
20px = 1.25rem MOB H3
24px = 1.5rem DT H3
28px = 1.75rem MOB H2
32px = 2rem DT H2
34px = 2.125rem MOB H1
38px = 2.375rem MOB H1 F
42px = 2.625rem DT H1
50px = 3.125rem DT H1 F*/

h1{
  font-size: 2.625rem;
  margin-top: 0;
  margin-bottom: 0;

}

h1.feature{
  font-size: 3.125rem;

}

h2{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom:2%;
  text-align: center;

}

h3{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2%;

}

h4{
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 2%;

}


p{
  margin-top: 0;
  margin-bottom: 4%;

}

p.feature{
  font-weight: 400;

}

a{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #0F7173;
  padding-bottom: 2px;
  text-decoration: none;
  transition: .75s;

}

a:hover{
  color: #D81159;

}

hr{
  border: none;
  border-bottom: 3px solid #D81159;
  width: 50px;
  margin-bottom: 2rem;
  margin-left: 0;

}

hr.content-divider{
  border: none;
  border-bottom: 2px solid #0F7173;
  width: 25vw;
  margin: auto;

}

ul{
  margin-top: 1%;
  margin-bottom: 2%;

}

/* - - - - - SPACING HELPERS - - - - -  */

.padding-left{
  padding-left: 5%;

}

.padding-right{
  padding-right: 5%;

}

.padding-left-right{
  padding-left: 5%;
  padding-right: 5%;

}

.padding-x-none{
  padding-left: 0;
  padding-right: 0;

}

.margin-y-none{
  margin-top:0;
  margin-bottom: 0;

}

.margin-x-none{
  margin-left:0;
  margin-right: 0;

}

.margin-top-none{
  margin-top: 0;
}

.margin-bottom-none{
  margin-bottom: 0;
}

/* HIDE/ SHOW HELPERS */

.desktop-hidden {
  display: none;

}

.margin-x-2pc{
  margin-left: 2%;
  margin-right: 2%;

}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;

}

/* BACKGROUND COLOURS */

.colour-main-dark{
  background-color: #283D3B;

}

.colour-main-brand{
  background-color: #0F7173;

}

.colour-main-light{
  background-color: #BDF2F2;


}

.colour-accent{
  background-color: #D81159;

}

.colour-accent-light{
  background-color: #EDDDD4;

}

.colour-light-grey{
  background-color: #E9E9E9;

}

.colour-mid-grey{
  background-color: #A4A4A4;

}

.colour-dark-grey{
  background-color: #4A4A4A;

}

/* TEXT COLOURS */

.text-main-dark{
  color: #283D3B;

}

.text-main-brand{
  color: #0F7173;

}

.text-main-light{
  color: #BDF2F2;

}

.text-accent{
  color: #D81159;

}

.text-accent-light{
  color: #EDDDD4;

}

.text-white{
  color: #FFF;

}

.text-light-grey{
  color: #E9E9E9;

}

.text-mid-grey{
  color: #A4A4A4;

}

.text-dark-grey{
  color: #4A4A4A;

}


/* FONT HELPERS */

.roboto-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.roboto-regular{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

.roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.exo-medium{
  font-family: 'Exo', sans-serif;
  font-weight: 500;

}

.exo-semibold{
  font-family: 'Exo', sans-serif;
  font-weight: 600;

}

.exo-bold{
  font-family: 'Exo', sans-serif;
  font-weight: 700;

}



/* NAV */

.primary-nav{
  /* background-color: #EDDDD4; */

}

.primary-nav [class*="col"] {
  padding-top: 1%;
  padding-bottom: 1%;

}

.primary-nav-content{
  min-height: 50px;

}

/* class - selector {property: value;}*/

.logo{
  background-image: url("/images/logo.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50% ;

}

.primary-nav-links{



}

.primary-nav-links a{
    color: #131313;

}

.primary-nav-links a:hover{
    color: #D81159;

}

.sub-nav-filters{


}

.hamburger-menu{


}

/* - - - - Footer - - - -- */

footer{
  min-height: 100vh;

}


/* BANNERS */

/* Homepage banner */

.home-page-hero{
  min-height: 250px;

}

.banner{
  background-position: center;
  background-size: cover;

}

.banner-reverse{
  flex-direction: row-reverse;

}

/* - - - - Case stdy banners - - - -*/

.project-lead-img{
  background-image: url(https://picsum.photos/800/500/?random);


}
/* BACKGROUND IMAGES */

[class*="_bg"]{
  background-position: center;
  background-size: cover;
  min-height: 30vh;

}

[class*="detail-text"] p{
  margin: 0;

}

.detail-image-1_bg{
  background-image: url(https://picsum.photos/800/600/?random);

}

.detail-image-2_bg{
  background-image: url(https://picsum.photos/800/700/?random);

}

.detail-image-3_bg{
  background-image: url(https://picsum.photos/800/800/?random);

}

.detail-text-1{


}

/* Media Queries should always be at the bottom of your css file */
@media (max-width: 579px){
  .small-hidden {
    display: none;

  }
  .small-show{
    display: block;

  }
}

@media (min-width: 1025px){
  .left-align-text{
    text-align: left;

  }

}
